option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: ""

        #== APP
        PORT: "3000"
        FALLBACK_LANGUAGE: "en_US"
        ENABLE_ORM_LOGS: "true"
        ENABLE_DOCUMENTATION: "true"
        API_VERSION: "v1.0.0"
        REGION: "KR"

        #== JWT Auth
        JWT_EXPIRATION_TIME: "3600"
        JWT_PRIVATE_KEY: ""
        JWT_PUBLIC_KEY: ""

        #== DB
        DB_TYPE: "postgres"
        DB_HOST: "127.0.0.1"
        DB_PORT: "5432"
        DB_USERNAME: "postgres"
        DB_PASSWORD: "postgres"
        DB_DATABASE: "nestjs_boilerplate"

        #== AWS
        AWS_S3_ACCESS_KEY_ID: ""
        AWS_S3_SECRET_ACCESS_KEY: ""
        AWS_S3_BUCKET_REGION: "ap-northeast-2"
        AWS_S3_API_VERSION: "2010-12-01"
        AWS_S3_BUCKET_NAME: "nest-boilerplate-bucket"

        #== NATS
        NATS_ENABLED: "false"
        NATS_HOST: "localhost"
        NATS_PORT: "4222"

        #== Redis
        REDIS_CACHE_ENABLED: "true"
        REDIS_HOST: "localhost"
        REDIS_PORT: "6379"

        #== Adminjs
        ADMIN_USERNAME: "admin"
        ADMIN_PASSWORD: "1234"
