option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: "pre-production"

        # APP
        DEBUG: "true"

        # Cookie
        COOKIE_NAME: "labcode"
        COOKIE_PASSWORD: "labcode0911!"

        # PostgreSQL
        POSTGRES_HOST: "labcode-admin-deploy.cyhn8wv5cxdg.ap-northeast-2.rds.amazonaws.com"
        POSTGRES_PORT: "5432"
        POSTGRES_USER: "snaptag"
        POSTGRES_PASSWORD: "snaptag0911!"
        POSTGRES_DATABASE: "labcode"

        # JWT
        JWT_SECRET: "3414084A1604B9A4CD467C6B585D13DEA9C616BCDF5566F1A8A3B98FF607F232"
        JWT_ACCESS_TOKEN_EXPIRESIN: "14d"
        JWT_REFRESH_TOKEN_EXPIRESIN: "60d"

        # LAB Code Worker
        LABCODE_WORKDER_URL: "http://worker-server.ap-northeast-2.elasticbeanstalk.com/api/worker"
        LABCODE_WORKDER_API_KEY: ""

        # AWS
        AWS_S3_BUCKET_NAME: "labcode-core-deploy"
        AWS_ACCESS_KEY_ID: "AKIATT7CDS3JXEUM3H6D"
        AWS_SECRET_ACCESS_KEY: "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"
        AWS_REGION: "ap-northeast-2"
        AWS_S3_URL: "https://labcode-core-deploy.s3.ap-northeast-2.amazonaws.com"

        # Sentry
        SENTRY_DSN: "https://f8e17245e4c048b581052867824c8dc1@o1036024.ingest.sentry.io/6117339"
